
@{
    ViewBag.Title = "الخدمات";
}

<!--......Created by: Raghad......-->
<!--صفحة الخدمات للممرضة-->

<div class="hspserv" dir="rtl" lang="ar">
    <h1>@ViewBag.Title</h1>
    <div>
        <div id="div1">
            <a href="@Url.Action("Approval", "Vaccinators")">
                <div>
                    <img src="~/Content/images/tick.png" width="70" height="70" />
                    <h2>الموافقات</h2>
                </div>
            </a>
        </div>
    </div>
</div>