@{
    ViewBag.Title = "حولنا";
}


<div>
    <main class="about-us">
        <div>
            <section>
                <div>
                    <h2>رؤية تحصين</h2>
                    <p>
                        تقديم تجربة مثالية وأكثر ثقة في مجال الرعاية الصحية
                    </p>
                </div>
            </section>
        </div>
        <section>
            <div>
                <h2>الرسالة</h2>
                <p>توفير بيئة متكاملة تساهم في مساعدة الوالدين للحفاظ على صحة أطفالهم</p>
            </div>
        </section>
        <section>
            <div>
                <h2>أهداف تحصين</h2>
                <ul>
                    <li>
                        ضمان وجود سجل متكامل ودقيق وحديث لتحصين اﻷطفال ويمكن ادارته واسترجاعه في أي مكان وفي أي وقت .
                    </li>

                    <li>
                        توفير شهادة التحصين على النظام الإلكتروني لكل طفل، تبسيط عملية استبدال الشهادات التالفة أو المفقودة.
                    </li>

                    <li>
                        تحسين إدراة صحة الطفل والاكتشاف المبكر للمشاكل المتعلقة بصحة الطفل.
                    </li>
                    <li>
                        تجنب اﻷخطاء التي تحدث بسبب الإجراءات الورقية
                    </li>
                </ul>
            </div>
        </section>

    </main>
</div>