
@{
    ViewBag.Title = "التطعيمات الأساسية";
}

<!--......Created by: Abeer......-->
<!--صفحة التطعيمــــات الأساسيـــة - بعد تسجيل الدخول-->

<img src="~/Content/images/wavybanner.png" style="width:100%; margin:0; padding:0; background-color:none;" />
<div id="basic-vaccinations-div" dir="rtl" lang="ar">
    <!--العنوان-->
    <div>
        <h1>التطعيمات الأساسية</h1>
    </div>
    <!--محتوى الصفحة-->
    <div>
        <div>
            <article>
                تهدف التطعيمات الأساسية المحددة في شهادة التطعيمات، منذ الولادة وحتى دخول الصف الأول الابتدائي، إلى حماية الأطفال بالمملكة وفئات المجتمع من الأمراض المستهدفة بالتحصين، إذ أن التطعيمات هي حجر الأساس للصحة العامة، وهي وسيلة يتم بواسطتها حماية الشخص من الإصابة بالأمراض المعدية.
                تحتوي اللقاحات على بكتيريا أو فيروسات ميتة أو ضعيفة بحيث لا تملك القدرة على إحداث المرض، ويتم إعطاؤها للشخص بحيث تحفّز الجهاز المناعي في الجسم وإنتاج أجسام مضادة تتعرف على الميكروب بشكل مبكر، وبالتالي يقوم بمحاربته إذا دخل الجسم مرة أخرى ويمنع حدوث المرض.
                <br />
                <br />
                تحتوي شهادة التطعيمات على 15 لقاحًا للوقاية من 15 مرضًا معديًا، وهي:
            </article>
        </div>
        <div>
            <table id="basic-vaccinations-table">
                <tr>
                    <th class="text-center">اللقاح</th>
                    <th class="text-center">المرض</th>
                    <th class="text-center">تعريف المرض</th>
                </tr>
                <tr>
                    <td>لقاح الدرن</td>
                    <td>الدرن (السل)</td>
                    <td>يعرف الدرن (السل) بأنه مرض معدٍ يُصاب به الشخص نتيجة العدوى ببكتيريا تسمى بكتيريا الدرن المتفطرة (المايكروبكتيريوم) والتي تهاجم الرئتين، وقد تصيب أجزاء أخرى بالجسم منها الكلى، الدماغ، والحبل الشوكي.</td>
                </tr>
                <tr>
                    <td>لقاح الالتهاب الكبدي (ب)</td>
                    <td>الالتهاب الكبدي (ب)</td>
                    <td>هو مرض معدي يتراوح في شدة خطورته من مرض خفيف يستمر بضعة أسابيع إلى مرض خطير يستمر مدى الحياة. يؤدي المرض إلى إتلاف خلايا الكبد ثم تليفها، وقد يؤدي إلى سرطان الكبد، وإذا كانت الأم الحامل مصابة بالمرض يمكن أن ينتقل المرض إلى مولودها أثناء الولادة.</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>لقاح شلل الأطفال المعطل</li>
                            <li>  لقاح شلل الأطفال الفموي</li>
                        </ul>
                    </td>
                    <td>شلل الأطفال</td>
                    <td>هو مرض شديد العدوى يسببه فيروس يهاجم الجهاز العصبي يدخل جسم الإنسان (الطفل أو البالغ) عن طريق الفم أحيانًا ويتكاثر في الأمعاء. يصيب المرض الجهاز العصبي ويؤدي إلى شلل في الأطراف مما يسبب إعاقة دائمة للطفل، وقد يؤدي إلى الوفاة.</td>
                </tr>
                <tr>
                    <td>لقاح الثلاثي البكتيري</td>
                    <td>
                        <ul>
                            <li>الدفتيريا (الخناق)</li>
                            <li>الكزاز (التيتانوس)</li>
                            <li>السعال الديكي</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>الدفتيريا (الخناق): هو مرض بكتيري يصيب الحلق وينتج عنه تكون طبقة سميكة في الجزء الخلفي منه مما يؤدي إلى صعوبة في التنفس ومن مضاعفاته التهاب في عضلة القلب.</li>
                            <li>الكزاز (التيتانوس): هو مرض بكتيري خطير يسبب تقلصات عضلية مؤملة في الرقبة والفكين ويؤدي أيضا الى صعوبة في الرضاعة والتنفس.</li>
                            <li>السعال الديكي: هو مرض بكتيري شديد العدوى يصيب الجهاز التنفسي. يشبه السعال الديكي نزلة البرد المعتادة ولكن قد يتحول في نهاية المطاف إلى حالة أكثر خطورة، وخاصة عند الأطفال الرضع.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>لقاح المستدمية النزلية</td>
                    <td>المستدمية النزلية</td>
                    <td>هي بكتيريا تسبب مجموعة من الأمراض التي تشمل التهاب أغشية المخ (الحمى الشوكية) والالتهاب الرئوي والتسمم الدموي.</td>
                </tr>
                <tr>
                    <td>لقاح البكتيريا العقدية الرئوية</td>
                    <td>المكورات العقدية</td>
                    <td>
                        يتسبب المرض في مجموعة من الأمراض والتي تشمل:
                        <ul>
                            <li>الحمى الشوكية (التهاب في الدماغ).</li>
                            <li>تجرثم الدم (عدوى في الدم).</li>
                            <li>الالتهاب الرئوي (التهاب في الرئتين).</li>
                            <li>التهاب الأذن الوسطى.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>لقاح فيروس الروتا</td>
                    <td>فيروس الروتا</td>
                    <td>يسبب المرض نزلة معوية خطيرة (إسهال، قيء، أو الاثنين معًا) والتي قد تؤدي إلى فقدان السوائل والأملاح من الجسم وهبوط حاد في الكلى والقلب مما يؤدي إلى الوفاة.</td>
                </tr>
                <tr>
                    <td>لقاح الحصبة المفرد</td>
                    <td>الحصبة</td>
                    <td>مرض فيروسي يسبب الطفح الجلدي، السعال، سيلان الأنف، تهيج العين والحمى.  يمكن أن يؤدي هذا الفيروس إلى التهاب الأذن، الالتهاب الرئوي، تلف في الدماغ، ويمكن أن يؤدي إلى الوفاة.</td>
                </tr>
                <tr>
                    <td>لقاح الحمى الشوكية الرباعي المقترن</td>
                    <td>الحمى الشوكية (التهاب السحايا)</td>
                    <td>هي التهاب الأغشية الواقية التي تحيط بالدماغ والحبل الشوكي (السحايا)، حيث يؤدي التورم الناتج عن الالتهاب إلى ظهور أعراض مثل الصداع والحمى وتصلب الرقبة.</td>
                </tr>
                <tr>
                    <td>لقاح الثلاثي الفيروسي</td>
                    <td>
                        <ul>
                            <li>الحصبة</li>
                            <li>الحصبة الألمانية</li>
                            <li>النكاف</li>
                        </ul>
                    </td>
                    <td>
                        يغطي هذا اللقاح ثلاث أنواع من الامراض وهي:
                        <ul>
                            <li>الحصبة</li>
                            <li>الحصبة الألمانية: هو مرض فيروسي يسبب الطفح الجلدي، التهاب المفاصل (غالبا لدى النساء)، وحمى خفيفة. إذا أصيبت المرأة بالحصبة الألمانية أثناء الحمل، فمن الممكن تعرضها للإجهاض وقد يولد الطفل بتشوهات خلقية خطيرة.</li>
                            <li>النكاف: مرض فيروسي يسبب الحمى، الصداع، آلام في العضلات، فقدان الشهية وتورم في الغدد، ويمكن أن يؤدي أيضًا إلى فقدان السمع الدائم.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>لقاح الجديري المائي</td>
                    <td>الجدري المائي (العنقز)</td>
                    <td>الجدري المائي (العنقز) هو عدوى فيروسية ينتقل عن طريق الجهاز التنفسي، ويسبب حكة وطفحًا جلديًّا مع بثور صغيرة مملوءة بالسوائل. إذا أصيب الشخص بالجدري المائي، فمن الممكن أن يكون معرضًا للإصابة بالحزام الناري الذي يسببه نفس الفيروس؛ حيث إنه بعد شفاء المريض منه يختبئ الفيروس في الخلايا العصبية، وبعد سنوات عديدة يمكن للفيروس أن يعيد نشاطه ويعاود الظهور على شكل الحزام الناري.</td>
                </tr>
                <tr>
                    <td>لقاح الالتهاب الكبدي (أ)</td>
                    <td>الالتهاب الكبدي (أ)</td>
                    <td>هو مرض شديد العدوى، يؤدي إلى حدوث التهابات تضعف وظيفة الكبد، كما يسبب المرض الحمى والتعب وفقدان الشهية والغثيان وألم في البطن، واليرقان (اصفرار الجلد والعينين).</td>
                </tr>
            </table>
        </div>
    </div>
</div>