@{
    ViewBag.Title = "الخدمات";
}


<div class="hspserv" dir="rtl" lang="ar">
    <h1>@ViewBag.Title</h1>
    <div>
        <div id="div1">
            <a href="@Url.Action("Create", "Vaccinators")">
                <div>
                    <img src="~/content/images/tick.png" width="70" height="70" />
                    <h2>طلبات التطعيم</h2>
                </div>
            </a>
        </div>
    </div>
</div>
