
@{ ViewBag.Title = "ارشادات الرعاية بعد التطعيم"; }

<main class=" instruction">
    <h3 class="title_h3">ارشادات مهمة بعد التطعيم</h3>

    <ol>
        <li>قد يحتاج بعض الأطفال إلى المزيد من الراحة بعد أخذ اللقاح. يمكن استخدام أدوية الباراسيتامول (مثل: الفيفادول أو البنادول) عند إرتفاع درجة الحرارة واتباع إرشادات استخدام الدواء.</li>
        <li>تجنب إعطاء الأسبرين للأطفال.</li>
        <li>تحريك الذراع أو الساق ( التي تحتوي على موقع الحقن) بشكل منتظم.</li>
        <li>وضع الكمادات على الرقبة وبين الفخذين وتحت الإبط ومكان الحقنة.</li>
        <li>لابد من إعطاء الطفل الكثير من السوائل سواء بالرضاعة أو بالسوائل في حال ارتفاع درجة حرارته.</li>
        <li>دلكي مكان التطعيم لتخفيف الألم، وضعي كريمًا مخصصًا لتخفيف التورم أو الالتهابات.</li>
        <li>الحرص على إرتداء طفلك لملابس مريحة وفضفاضة لكي لاتحتك بمكان اللقاح.</li>
        <li>الرضاعة الطبيعية، فهي تخفف كثيرًا عن طفلك ما يمر ويشعر به نفسيًا وجسديًا </li>
        <li>اتركي طفلك على راحته تجاه تناول الطعام إذا كان أكبر من ستة أشهر، لأن الألم يجعله يفقد الشهية قليلا.</li>
    </ol>

    <div class="print">
        <button class="myBtn btn-green">
            طباعة
        </button>
    </div>
</main>
